<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!--
    As you add to this URDF, please be aware that both the robot and
    simulation include it. You must retain compatibility with all of
    the following launch files:

    ridgeback_viz/launch/view_model.launch
    ridgeback_gazebo/launch/ridgeback_world.launch
    ridgeback_base/launch/base.launch
  -->

  <xacro:include filename="$(find ridgeback_description)/urdf/accessories/sick_lms1xx_mount.urdf.xacro" />
  <xacro:include filename="$(find ridgeback_description)/urdf/accessories/hokuyo_ust-10lx_mount.urdf.xacro" />
  <xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro" />


  <!-- If enabled, generate the front HOKUYO UST-10LX LASER payload. -->
  <xacro:if value="$(optenv RIDGEBACK_FRONT_HOKUYO_LASER 1)">
    <xacro:hokuyo_ust-10lx_mount prefix="front"
                            topic="front/scan"
                            location="1" />
  </xacro:if>

  <!-- If enabled, generate the rear HOKUYO UST-10LX LASER payload. -->
  <xacro:if value="$(optenv RIDGEBACK_REAR_HOKUYO_LASER 1)">
    <xacro:hokuyo_ust-10lx_mount prefix="rear"
                            topic="rear/scan"
                            location="-1" />
  </xacro:if>

  <!-- If enabled, generate the front SICK LMS111 LASER payload. -->
  <xacro:if value="$(optenv RIDGEBACK_FRONT_SICK_LASER 0)">
    <xacro:sick_lms1xx_mount prefix="front"
                            topic="front/scan"
                            location="1" />
  </xacro:if>

  <!-- If enabled, generate the rear SICK LMS111 LASER payload. -->
  <xacro:if value="$(optenv RIDGEBACK_REAR_SICK_LASER 0)">
    <xacro:sick_lms1xx_mount prefix="rear"
                            topic="rear/scan"
                            location="-1" />
  </xacro:if>

  <link name="pgc02_link">
		<visual>
			<geometry>
				<mesh filename="package://ridgeback_description/meshes/pgc02_top.dae" />
			</geometry>
		</visual>

		<collision>
			<geometry>
				<mesh filename="package://ridgeback_description/meshes/pgc02_top.dae" />
			</geometry>
		</collision>
   </link>

  <joint name="pgc02_joint" type="fixed">
	  <origin xyz="0 0 0.278" rpy="0 0 1.571" />
	  <parent link="top_link" />
	  <child link="pgc02_link" />
  </joint>

<!-- Spawn arm -->
  <xacro:ur10_robot prefix="ur10_arm_" joint_limited="true"/>

  <!-- Join arm -->
  <joint name="ur10_arm_base" type="fixed">
	<parent link="mid_mount" />
	<child link="ur10_arm_base_link" />
	<origin xyz="0.28 0.0 0.50" rpy="0.0 0.0 -1.5708" />
  </joint>

  <!-- Gripper -->
  <link name="gripper_link">
		<visual>
			<geometry>
				<box size="0.09 0.13 0.01" />
			</geometry>
			<material name="light_grey"/>
		</visual>

		<collision>
			<geometry>
				<cylinder length="0.04" radius="0.035"/>
			</geometry>
		</collision>
   </link>

  <joint name="gripper_joint" type="fixed">
	  <origin xyz="0.005 0.0 0.0" rpy="0.0 1.571 0.0" />
	  <parent link="ur10_arm_ee_link" />
	  <child link="gripper_link" />
  </joint>


</robot>
